<div class="diskusi-produk seller">
  <div class="detail-produk">
    <div class="foto-produk">
      <%= image_tag Produk.find(39).foto_produk1.url %>
    </div>
    <div class="nama-produk">
      <%= Produk.find(39).nama_produk %>
    </div>
  </div>
  <div class="ulasan seller">
    <div class="kiri">
      <div class="foto-profil">
        <%= image_tag User.find(13).profil_image.url %>
      </div>
    </div>
    <div class="kanan">
      <div class="nama-user">
        Michele Jackson <span class="label label-success">pembeli</span>
      </div>
      <div style="font-style: italic; font-size: 0.8em; color: rgb(96, 96, 96);" class="pesan">
        31 Juli 2016, 10:39 WIB
      </div>
    </div>
    <div class="komentar">
      Barang sudah sampai dengan aman.....
    </div>
    <hr>
    <div class="bintang">
      <strong>Rating:</strong>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
  </div>
</div>