<%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: @productid %>
<input type="hidden" name="origin" value="show">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
<a title="Kunjungi Toko" class="compare" href="<%= toko_path(@fproduk.toko) %>"></a>
                                                  <% end %>