		<!-- Header -->
<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="wrapperthankspage">
						<div class="alert alert-success styledalert">
							<h3 class="title">Email telah berhasil dikonfirmasi !</h3>
						</div>
						<p>
              Anda dapat melakukan <a href="/masuk" >login</a>. Terimakasih
						</p>
					</div>
				</div>
			</div>
		</div>

    <%= render "layouts/torakofooter" %>