<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="wrapperthankspage">
						<div class="alert alert-success styledalert">
							<h3 class="title">Anda telah berhasil membuat Toko di Torako.com !</h3>
						</div>
						<p>
							numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam
						</p>
						<p>
							Sekarang Anda dapat melihat dan mengcustomize <a href="<%= toko_path(@toko) %>/edit" class="typered">halaman toko Anda</a>, atau langsung  <a href="<%= new_produk_path %>" class="typered">menginput produk</a> pertama Anda.
							Selamat Berjualan !
						</p>
					</div>
				</div>
			</div>
		</div>
    <%= render 'layouts/torakofooter' %>