        <form action="record" method="post">
        <h2 class="form-title">Credit Card</h2>
        <hr>
        <input type="text" name="tXid" value="txid">
          <input type="text" name="referenceNo" value="ref">
          <input type="text" name="amt" value="amt">
          <input type="text" name="merchantToken" value="token">
        <button type="submit" class="btn-submit" id="cc">Checkout</button>
      </form>