<%= render 'layouts/torakoheader' %>

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12 ctnhlst">
					<h3 class="headingotherpage"><%= Static.find(5).title %></h3>
					<%=raw Static.find(5).body %>
				</div>
			</div>
		</div>

<%= render 'layouts/torakofooter' %>