<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= User.find(@mycart.last.user_id).namalengkap %></h1>
    <p>
      Pesanan Anda, untuk invoice <% @mycart.each do |c| %><%= c.invoice %>,<% end %><br />
      Status: <%= @status %>
    </p>
  </body>
</html>