<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12 ctnhlst">
					<h3 class="headingotherpage"><%= @static.title %></h3>
          <%= render(:inline => @static.body) %>
				</div>
			</div>
		</div>
<%= render 'layouts/torakofooter' %>